<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather</title>
    <link rel="icon" href="./images/earth.ico">
    <link rel="stylesheet" href="style.css" />

</head>

<body>
    {{>links}}
    <form action="">
        <input type="text" name="" id="" placeholder='location'>
        <button>search</button>
    </form>
    <div class="p">
        <p class="space"><br><br><br><br></p>
        <p class="message p1"></p>
        <div class='center'>
            <p class="val p2">
        </div>
        </p>
    </div>
    {{>footer}}
    <script src="main.js"></script>
</body>

</html>